<div class="change-body">


    <div class="arrow">
        <app-back-button></app-back-button>
    </div>
    <div class="body">
        <div>
            <h1 class="title">Change Password</h1>
        </div>
        <div>
            <!-- <from> -->
            <div>
                <p class="sub-title">Old Password</p>
                <input type="text">
            </div>
            <div>
                <p class="sub-title"> new password</p>
                <input type="text">
            </div>
            <div>
                <p class="sub-title">re-enter Password</p>
                <input type="text">
            </div>
            <br><br>
            <div>
                <button type="button" class="btn btn-primary"> Update</button>
            </div>
            <!-- </from> -->
        </div>
    </div>
</div>