<div class="change-body">


    <div class="arrow">
        <app-back-button></app-back-button>
    </div>
    <div class="body">
        <div>
            <h1 class="title">Change Password</h1>
        </div>
        <div>
            <from [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
                <div class="abc">
                    <mat-form-field appearance="outline" class="example-full-width ">
                        <mat-label>old password NUmber </mat-label>
                        <input matInput formControlName="oldpassword" type="password" placeholder="enter your old password  " required ngModel>


                    </mat-form-field>
                    <mat-error *ngIf="f.oldpassword && f.oldpassword.errors && (f.oldpassword.dirty || f.oldpassword.touched )">
                        <span *ngIf="  f.oldpassword.errors.required">
                            old password is required
                        </span>
                        <span *ngIf="f.oldpassword.errors.pattern">
                            Please, Enter 6 digits
                        </span>

                    </mat-error>

                </div>
                <div class="abc">
                    <mat-form-field appearance="outline" class="example-full-width ">
                        <mat-label>old password NUmber </mat-label>
                        <input matInput formControlName="newPassword" type="password" placeholder="enter your old password  " required ngModel>


                    </mat-form-field>
                    <mat-error *ngIf="f.newPassword && f.newPassword.errors && (f.newPassword.dirty || f.newPassword.touched )">
                        <span *ngIf="  f.newPassword.errors.required">
                            new password is required
                        </span>
                        <span *ngIf="f.newPassword.errors.pattern">
                            Please, Enter 6 digits
                        </span>

                    </mat-error>

                </div>
                <div class="abc">
                    <mat-form-field appearance="outline" class="example-full-width ">
                        <mat-label>old password NUmber </mat-label>
                        <input matInput formControlName="confirmPassword" type="password" placeholder="enter your old password  " required ngModel>


                    </mat-form-field>
                    <mat-error *ngIf="f.confirmPassword && f.confirmPassword.errors && (f.confirmPassword.dirty || f.confirmPassword.touched )">
                        <span *ngIf="  f.confirmPassword.errors.required">
                            Confirm  password is required
                        </span>
                        <span *ngIf="f.confirmPassword.errors.pattern">
                            Please, Enter 6 digits
                        </span>

                    </mat-error>

                </div>
                <br><br>
                <div>
                    <button type="button" class="btn btn-primary"> Update</button>
                </div>
            </from>
        </div>
    </div>
</div>