.body {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto;
    font-size: .875rem;
    line-height: 1.25rem;
    overflow-x: hidden;
    padding: 1.45rem 2rem;
    --tw-text-opacity: 1;
    color: rgba(45, 55, 72, var(--tw-text-opacity));
    background-color: #3160D8 !important;
    min-height: 750px;
    // min-height: 611px;
    .side-menu {
        width: 190px;
        --background: transparent;
        text-align: center;
        padding: 5vh 0;
    }
    .main-content {
        // background-color: #f1f5f8;
        background-color: rgb(226, 232, 240);
        width: 80%;
        border-radius: 26px;
        position: absolute;
        height: 94vh;
    }
}

a {
    text-decoration: unset;
    // margin-top: 3vh;
}

a::before {}

.sidebar-wrapper {
    text-align: center;
    height: 56vh;
    padding: 4vh;
}

.list-group {
    padding: 4vh 0;
}

.active {
    background-color: #f9fafc;
    height: 7vh;
    justify-content: center;
    border-radius: 50px 0px 0px 50px;
    align-items: center;
    display: flex;
}

.abc {
    background-color: #f9fafc;
    height: 7vh;
    justify-content: center;
    border-radius: 50px 0px 0px 50px;
    align-items: center;
    display: flex;
}

.abc::before {
    content: "";
    width: 30px;
    height: 30px;
    background-size: 100%;
    // background-image: url('../../assets/download.svg') !important;
    margin-right: -1.25rem;
    position: absolute;
    top: 0;
    right: 0;
}

.abcc {
    height: 67px !important;
    z-index: 51 !important;
    border-color: rgba(222, 231, 239) !important;
    border-bottom: 1px solid;
    display: flex !important;
    align-items: center !important;
    position: relative !important;
}

.minimuze {
    height: 28px;
    width: 20px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    border-radius: 11px;
    border-color: #e2e8f0;
    position: absolute;
    right: 53px;
    img {
        height: 100%;
        border-radius: 15px;
    }
}

.title {
    color: rgb(45, 55, 72);
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 28px;
    margin: 5vh 0 0 18px;
}

.zoom-in {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
}

.report-box {
    position: relative;
}

.first {
    position: relative;
    background-color: rgba(255, 255, 255);
    height: 124px;
    box-shadow: 0 3px 20px rgb(0 0 0 / 4%);
    z-index: 999;
    width: 100%;
    padding: 1.25rem;
}

.second {
    position: absolute;
    background-color: #f9fafc;
    height: 12%;
    width: 91%;
    box-shadow: 0 3px 20px rgb(0 0 0 / 4%);
    left: cal;
    left: 0;
    right: 0;
    margin: auto;
}

.title-card {
    color: rgb(113, 128, 150);
    font-size: 16px;
    line-height: 24px
}

.count-number {
    color: rgb(45, 55, 72);
    color: #2d3748;
    font-family: Roboto;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    font-size: 30px;
    margin-top: 3vh;
}

.content {
    margin-top: 80px;
}

.side-nav-style {
    background: grey;
    width: 150px;
    margin-top: 62px;
    position: fixed
}

.active-parent {
    background-color: red;
}