.abcc {
    height: 67px !important;
    z-index: 51 !important;
    border-color: rgba(222, 231, 239) !important;
    border-bottom: 1px solid;
    display: flex !important;
    align-items: center !important;
    position: relative !important;
}

.minimuze {
    height: 28px;
    width: 20px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    border-radius: 11px;
    border-color: #e2e8f0;
    position: absolute;
    right: 53px;
    img {
        height: 100%;
        border-radius: 15px;
    }
}

.title {
    color: rgb(45, 55, 72);
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 28px;
    margin: 5vh 0 0 18px;
}

.report-box {
    position: relative;
}

.first {
    position: relative;
    background-color: rgba(255, 255, 255);
    height: 124px;
    box-shadow: 0 3px 20px rgb(0 0 0 / 4%);
    z-index: 999;
    width: 100%;
    padding: 1.25rem;
}

.second {
    position: absolute;
    background-color: #f9fafc;
    height: 12%;
    width: 91%;
    box-shadow: 0 3px 20px rgb(0 0 0 / 4%);
    left: cal;
    left: 0;
    right: 0;
    margin: auto;
}

.title-card {
    color: rgb(113, 128, 150);
    font-size: 16px;
    line-height: 24px
}

.count-number {
    color: rgb(45, 55, 72);
    color: #2d3748;
    font-family: Roboto;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    font-size: 30px;
    margin-top: 3vh;
}

.content {
    margin-top: 80px;
}

.side-nav-style {
    background: grey;
    width: 150px;
    margin-top: 62px;
    position: fixed
}

.start {
    width: 10%;
    background-color: #0047af;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .first-col {
        margin: 0 0 5vh 0;
    }
    .start {
        width: 14vw;
    }
}

@media screen and (min-width: 50px) and (max-width: 576px) {
    .first-col {
        margin: 0 0 4vh 0;
    }
    .start {
        width: 24vw;
    }
}