.titile {
    margin: 0 0 16px;
    color: rgb(45, 55, 72);
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 28px;
}

.upload-space {
    width: 94%;
    /* background: cadetblue; */
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 3px 20px rgb(0 0 0 / 17%);
    height: 20vh;
    align-items: center;
    display: flex;
    padding: 4vw;
}

.body {
    margin: 4vh 1vw;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .body {
        margin: 4vh 1vw;
    }
    .upload-space {
        width: 96%;
        margin-left: 1.7vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 5000px) {
    .arrow {
        display: none;
    }
}