<div class="body">

  <div class="sub-divider">
    <div class="menu-space">
      <div class="sidebar-heading">
        <span style="color: white;">
          eTOP
        </span>
        <span class="font-medium" style="color: white;">signDOC</span><br>

        <button class="icon-mat" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()" >
          <mat-icon *ngIf="!sidenav.opened">
            menu
          </mat-icon>
          <mat-icon *ngIf="sidenav.opened">
            close
          </mat-icon>
        </button>
        <mat-sidenav-container class="mat-nav" >
          <mat-sidenav>
          </mat-sidenav>
        </mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav"   class="mat-elevation"  [opened]="opened"  >
           
          <ul style="list-style-type:none;"class="filed-list" >
            <li class="group-filed">
                <a class="out" (click)="togglesidebar()" [routerLink]="['dashboard']" routerLinkActive="active"> <i
                  class="fas fa-home "></i><span>dashboard</span></a></li>
            <li class="group-filed">
                <a class="out" (click)="togglesidebar()" [routerLink]="['home']" routerLinkActive="active"><i
                  class="fas fa-home "></i><span>Home</span></a></li>
            <li class="group-filed">
                <a class="out" (click)="togglesidebar()" [routerLink]="['create-document']" routerLinkActive="active">
                <i class="fas fa-folder-plus"></i> Document</a></li>
            <li class="group-filed">
                <a class="out" (click)="togglesidebar()" [routerLink]="['report']"
                routerLinkActive="active"><i class=" set fas fa-bug"></i>Reports</a></li>
            <li class="group-filed">
                <a class="out" (click)="togglesidebar()" [routerLink]="['setting']" routerLinkActive="active"><i
                  class="fas fa-cog"></i>Settings</a></li>

          </ul>
    
        </mat-sidenav>

      </div>

      <div class="list-group ">

        <ul class="filed-list">
          <li class="group-filed">
            <p [routerLink]="['dashboard']" routerLinkActive="active">
              <i class="fas fa-home " style="padding: 0 15px 0 0; margin: 0px 0 0 43px;"></i> <span
                class="names">Dashboard</span>
            </p>
          </li>


          <li class="group-filed">
            <a [routerLink]="['create-document']" routerLinkActive="active">
              <i class="fas fa-folder-plus"></i><span class="names">
                Create Document
              </span> </a>
          </li>
          <li class="group-filed">

            <a [routerLink]="['home']" routerLinkActive="active">
              <i class="fas fa-home "></i><span class="names">
                home
              </span> </a>

            <div>
            </div>
          </li>
          <li class="group-filed">

            <a [routerLink]="['report']" routerLinkActive="active">
              <i class="fas fa-bug"></i><span class="names">
                Reports
              </span> </a>

          </li>
          <li class="group-filed">

            <a [routerLink]="['setting']" routerLinkActive="active">
              <i class="fas fa-cog"></i><span class="names">
                Settings
              </span>
            </a>

          </li>
        </ul>

      </div>
    </div>
    <div id="page-content-wrapper">
      <div class="container-fluid main-content">
        <router-outlet></router-outlet>
        <!-- <app-dashbord></app-dashbord> -->

      </div>
    </div>

  </div>
</div>


<!-- <router-outlet>
</router-outlet> -->
