<div class="row profile-body">
    <div class="arrow">
        <app-back-button></app-back-button>
    </div>

    <div class="profile-info">

        <div class="mobile-view">
            <form [formGroup]="userDetailsForm" (ngSubmit)="submitDetails()">
                <div class="row edit-info">
                    <div class="edit-button">
                        <p (click)="editDetails()" *ngIf="!editUserData">
                            edit
                        </p>
                        <i class="fas fa-edit"></i>
                    </div>
                </div>




                <div class="row">
                    <div class="upload-space">
                        <div class="row">
                            <div class="col-12">
                                <img src="{{url}}" *ngIf="!editUserData " style="    width: 300px;">
                                <input type="file" (change)="onfileselet($event)" *ngIf="editUserData">

                                <ng-container *ngIf="isImageSaved; ">

                                    <!-- <img [src]="cardImageBase64" style="    height: 17vh; 
                            width: 10vw;" *ngIf="!editUserData" /> -->


                                </ng-container>
                            </div>
                            <div class="col-12">

                            </div>
                        </div>



                    </div>
                </div>





                <div class="info-space">

                    <input *ngIf="editUserData" placeholder="enter your phone number" formControlName="name" type="text">

                    <p *ngIf="!editUserData" class="labelDetails cur_ptr">
                        {{users?.displayName}}
                    </p>
                </div>
                <div class="info-space">
                    <p>{{users.email}}</p>
                </div>

                <div class="info-space">

                    <input *ngIf="editUserData" placeholder="enter your phone number" formControlName="phone" type="text">

                    <p *ngIf="!editUserData" class="labelDetails cur_ptr">
                        {{users?.phoneNumber}}
                    </p>
                </div>












                <!-- <div class="row">
                    <div class="upload-space">
                        <div class="row">
                            <div class="col-12">
                                <img src="{{url}}" *ngIf="!editUserData">
                                <input type="file" (change)="onfileselet($event)" *ngIf="editUserData">

                                <ng-container *ngIf="isImageSaved; ">

                                    <img [src]="cardImageBase64" style="    height: 17vh; 
                            width: 10vw;" *ngIf="!editUserData" />


                                </ng-container>
                            </div>
                            <div class="col-12">

                            </div>
                        </div>



                    </div>
                </div> -->



                <!-- <div class="abc">
                    <mat-form-field appearance="outline" class="example-full-width ">
                        <mat-label>old password NUmber </mat-label>
                        <input matInput formControlName="name" type="password" placeholder="enter your old password  " required ngModel *ngIf="editUserData">


                    </mat-form-field>

                    <mat-error *ngIf="f.confirmPassword && f.confirmPassword.errors && (f.confirmPassword.dirty || f.confirmPassword.touched )">
                        <span *ngIf="  f.confirmPassword.errors.required">
                            Confirm password is required
                        </span>
                        <span *ngIf="f.confirmPassword.errors.pattern">
                            Please, Enter 6 digits
                        </span>

                    </mat-error>
                    <p *ngIf="!editUserData" class="labelDetails cur_ptr">
                        {{users?.displayName}}
                    </p>
                </div> -->



                <!-- <div class="info-space">
                    <p>{{users.email}}</p>
                </div> -->





                <!-- <div class="abc">
                    <mat-form-field appearance="outline" class="example-full-width ">
                        <mat-label>old password NUmber </mat-label>
                        <input matInput formControlName="phone" type="password" placeholder="enter your old password  " required ngModel *ngIf="editUserData">


                    </mat-form-field>

                    <mat-error *ngIf="f.confirmPassword && f.confirmPassword.errors && (f.confirmPassword.dirty || f.confirmPassword.touched )">
                        <span *ngIf="  f.confirmPassword.errors.required">
                            Confirm password is required
                        </span>
                        <span *ngIf="f.confirmPassword.errors.pattern">
                            Please, Enter 6 digits
                        </span>

                    </mat-error>
                    <p *ngIf="!editUserData" class="labelDetails cur_ptr">
                        {{users?.phoneNumber}}
                    </p>
                </div> -->

















                <div>
                    <p class="logout" (click)="logout()">Logout</p>
                </div>

                <button *ngIf="editUserData" type="submit" class="editDetails">Submit</button>

                <button *ngIf="editUserData" (click)="cancelEdit()" class="editDetails">Cancel</button>
            </form>

        </div>
        <!-- <div class="col-12 avatar-col">
            <div>
                <img src="../../assets/live-person-icon.png" style="border-radius: 150px;">
            </div>
        </div>
        <div class="col-12" style="padding: 4vh 0 3vh;">
            <div class="info-space">
                <p>T. Vignesh Reddy</p>
                <p>tulasigarivignesh1999@gmail.com</p>
                <p>+917396989281</p>
            </div>
            <div>
                <p class="logout">Logout</p>
            </div>
        </div> -->
    </div>
</div>