<div class="row profile-body">
    <div class="arrow">
        <app-back-button></app-back-button>
    </div>

    <div class="profile-info">

        <div>
            <form [formGroup]="userDetailsForm" (ngSubmit)="submitDetails()">
                <div class="row">
                    <button (click)="editDetails()" *ngIf="!editUserData">
                        edit
                    </button>
                </div>
                <!-- <div class="col-12 avatar-col">
                    <div>
                        <img src="../../assets/live-person-icon.png" style="border-radius: 150px;">
                    </div>
                </div> -->

                <!-- <div class="info-space">

                    <input *ngIf="editUserData" placeholder="Enter name" formControlName="name" type="file">

                    <p *ngIf="!editUserData" class="labelDetails cur_ptr">
                        {{users.profile ? users.profile : ""}}
                    </p>
                </div> -->



                <div class="info-space">

                    <input *ngIf="editUserData" placeholder="Enter name" formControlName="name" type="text">

                    <p *ngIf="!editUserData" class="labelDetails cur_ptr">
                        {{users?.name}}
                    </p>
                </div>
                <div class="info-space">
                    <p>{{users.email}}</p>
                </div>

                <div class="info-space">

                    <input *ngIf="editUserData" placeholder="enter your phone number" formControlName="phone" type="number">

                    <p *ngIf="!editUserData" class="labelDetails cur_ptr">
                        {{users?.phone}}
                    </p>
                </div>
                <div>
                    <p class="logout">Logout</p>
                </div>

                <button *ngIf="editUserData" type="submit" class="editDetails">Submit</button>

                <button *ngIf="editUserData" (click)="cancelEdit()" class="editDetails">Cancel</button>
            </form>

        </div>
        <!-- <div class="col-12 avatar-col">
            <div>
                <img src="../../assets/live-person-icon.png" style="border-radius: 150px;">
            </div>
        </div>
        <div class="col-12" style="padding: 4vh 0 3vh;">
            <div class="info-space">
                <p>T. Vignesh Reddy</p>
                <p>tulasigarivignesh1999@gmail.com</p>
                <p>+917396989281</p>
            </div>
            <div>
                <p class="logout">Logout</p>
            </div>
        </div> -->
    </div>
</div>