<div class="row profile-body">
    <div class="profile-info">
        <div class="col-12 avatar-col">
            <div>
                <img src="../../assets/live-person-icon.png" style="border-radius: 150px;">
            </div>
        </div>
        <div class="col-12" style="padding: 4vh 0 3vh;">
            <div class="info-space">
                <p>T. Vignesh Reddy</p>
                <p>tulasigarivignesh1999@gmail.com</p>
                <p>+917396989281</p>
            </div>
            <div>
                <p class="logout">Logout</p>
            </div>
        </div>
    </div>
</div>