<div class="body">
    <div class="login">
        <div style="     padding: 12vh 0;">

            <div class="row1">
                <div class="  user-inputBox">
                    <div style="    position: relative;">
                        <div class="small">
                            <img mat-card-image src="../assets/logo.jpeg" alt="Photo of a Shiba Inu" class="animation">
                        </div>
                        <div class="small">
                            <img mat-card-image src="../assets/illustration.svg" alt="Photo of a Shiba Inu" class="animation">
                        </div>
                        <div class="small">
                            <h1 class="sub-tile small animation">
                                A few more clicks to
                                <br>sign in to your account.
                            </h1>
                            <h3 class="sub-tile1 animation">Manage all your e-doc accounts in one place</h3>
                        </div>
                    </div>
                </div>
                <div class="small1">
                    <div *ngIf="firstStep">
                        <h1 class="signup-title animation1">
                            Recovery Password
                        </h1>
                        <form [formGroup]="forgetPassword" (ngSubmit)="onSubmit(forgetPassword)">
                            <div>
                                <!-- Email -->
                                <mat-form-field appearance="outline" class="example-full-width animation1">
                                    <mat-label>Email </mat-label>
                                    <input matInput formControlName="email" type="email" placeholder="enter your Email " required ngModel>
                                    <mat-error *ngIf="f.email && f.email.errors && (f.email.dirty || f.email.touched || submitted)">
                                        <span *ngIf="  f.email.errors.required">
                      Email is Required
                    </span>
                                        <span *ngIf="f.email.errors.pattern">
                      Email must be a valid email address
                    </span>
                                    </mat-error>
                                    <span style="color: red;"> {{abc}} </span>

                                </mat-form-field>
                            </div>
                            <section>
                                <div class="example-button-row animation1">
                                    <button mat-flat-button color="primary" class="mat-button-width" type="submit">Get OTP</button>

                                </div>
                            </section>
                        </form>
                    </div>


                    <div *ngIf="stepTwo">
                        <h1 class="signup-title animation1">
                            verify Your OTP <br>
                            <p style="font-size: 12px; margin: 0;" class="animation1">
                                OTP Sent to Your Email Id {{userData}}
                            </p>
                        </h1>

                        <form [formGroup]="verify" (ngSubmit)="verifyotp(verify)">


                            <mat-form-field appearance="outline" class="example-full-width animation1">
                                <mat-label>OTP number </mat-label>
                                <input matInput formControlName="number" type="number" placeholder="enter your number " required ngModel>
                                <mat-error *ngIf="f.number && f.number.errors && (f.number.dirty || f.number.touched || submitted)">
                                    <span *ngIf="  f.number.errors.required">
                    OTP is required.
                  </span>
                                    <span *ngIf=" f.number.errors.maxlength">
                    Please enter a Email no more than 16 characters.
                  </span>

                                </mat-error>
                                <span style="color: red;"> {{otpIncorrect}} </span>

                            </mat-form-field>



                            <section>
                                <div class="example-button-row">
                                    <button mat-flat-button color="primary" class="mat-button-width animation1" type="submit">Verify</button>
                                    <button mat-flat-button color="primary" class="mat-button-width animation1" (click)="resendOtp()">Resend</button>
                                </div>
                            </section>
                        </form>
                    </div>

                    <div class="abc" *ngIf="stepthree">
                        <h1 class="signup-title animation1">
                            Create new password<br>
                            <p style="font-size: 1vw; margin: 0;">
                                OTP Sent to Your Email Id {{userData}}
                            </p>
                        </h1>

                        <form [formGroup]="forgetPassword" (ngSubmit)="createNewPassword(forgetPassword)">


                            <mat-form-field appearance="outline" class="example-full-width animation1">
                                <mat-label>New password</mat-label>
                                <input matInput formControlName="password" type="password" placeholder="enter your password " required ngModel>
                                <mat-error *ngIf="f.password && f.password.errors && (f.password.dirty || f.password.touched || submitted)">
                                    <span *ngIf="  f.password.errors.required">
                    password is required.
                  </span>
                                    <span *ngIf=" f.password.errors.maxlength">
                    Please enter 6 characters.
                  </span>
                                </mat-error>
                                <span> {{passwordInvalid}} </span>

                            </mat-form-field>



                            <section>
                                <div class="example-button-row">
                                    <button mat-flat-button color="primary" class="mat-button-width animation1" type="submit">Update</button>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>

            </div>




        </div>
    </div>
</div>