<div>

    <div id="page-content-wrapper">
        <div class="container-fluid main-content">
            <div class="row">
                <div class="top-bar bar">
                    <!-- <div class="minimuze">
                        <img src="../../assets/profile-12.jpg">
                    </div> -->
                </div>
            </div>
            <div class="row">
                <h3 class="title">Status Of Reports
                </h3>
            </div>


            <div class="row justify-content-between" style="    padding: 0 0.3vw 0 0;     margin-top: 5vh;">
                <div class="col-sm-12  col-xs-12 col-lg-4 col-md-12 col-xl-4 first-col">
                    <div class="report-box">
                        <div class="first">
                            <div class="text-base text-center text-gray-600 title-card">
                                Action Required
                            </div>
                            <div class="count-number">
                                2
                            </div>

                        </div>
                        <div class="second">

                        </div>

                    </div>
                </div>
                <div class="col-sm-12  col-xs-12 col-lg-4 col-md-12 col-xl-4 first-col">
                    <div class="report-box">
                        <div class="first">
                            <div class="text-base text-center text-gray-600 title-card">
                                Waiting for Others
                            </div>
                            <div class="count-number">
                                7
                            </div>

                        </div>
                        <div class="second">

                        </div>

                    </div>
                </div>
                <div class="col-sm-12  col-xs-12 col-lg-4 col-md-12 col-xl-4 first-col">
                    <div class="report-box">
                        <div class="first">
                            <div class="text-base text-center text-gray-600 title-card">
                                Action Required
                            </div>
                            <div class="count-number">
                                3
                            </div>

                        </div>
                        <div class="second">

                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <h3 class="title">Create New Document

                </h3>
            </div>


            <div class="row">
                <!-- <i class="fas fa-plus"></i>
                     -->
                <h1 style="    letter-spacing: normal;
                    margin: 0 0 16px;
                    text-align: center;
                    font-size: 100px;
                    margin-top: 8vh;"> +</h1>
            </div>
            <div style="    text-align: center;
                margin-top: 5vh;
            ">
                <button type="button" class="btn btn-primary start">Start</button>
            </div>
        </div>
    </div>







</div>
