<div>
    <div class="row">
        <div class="col-4 avatar-col">
            <div>
                <img src="../../assets/live-person-icon.png" style="border-radius: 150px;">
            </div>
        </div>
        <div class="col-8" style="padding: 7vh 0 3vh;">
            <div class="info-space">
                <p>T. Vignesh Reddy</p>
                <p>tulasigarivignesh1999@gmail.com</p>
                <p>+917396989281</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="listof">
                <!-- <img src="../../assets/play.png"> -->
                <div>
                    <ul>
                        <li (click)="changePassword = true; signature = false; logout = false ; stampUpload = false;  ">
                            <a>Change Password</a>
                        </li>
                        <li (click)="changePassword = false ; signature = true ; logout = false ; stampUpload = false;">
                            <a>Upload Signature</a>
                        </li>
                        <li (click)="changePassword = false ; signature = false ; logout = false ; stampUpload = true;">
                            <a>Upload Stamp</a>
                        </li>
                        <li (click)="changePassword = false ; signature = false ; logout = true ; stampUpload = false;">
                            <a>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-8">
            <app-change-password *ngIf="changePassword"> </app-change-password>
            <app-upload-signature *ngIf="signature"></app-upload-signature>
            <app-logout *ngIf="logout"></app-logout>
            <app-upload-stamp *ngIf="stampUpload"></app-upload-stamp>
        </div>
    </div>


</div>